
{% extends 'base.html.twig' %}

{% block title %}
    {# TODO : choisir un nom #}
{% endblock %}

{% block body %}
    <div>Identifiant : {{ participant.idParticipant }}</div>
    <div>Mot de passe : {{ participant.motDePasse }}</div>

{# TODO : créer MDP, connexion, se souvenir de moi et mot de passe oublié #}

{% endblock %}
