<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortie.com Have fun !{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
</head>
<body>
<header>
    <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logoprov.jpg') }}" alt="Welcome !!!"></a></h1>
    {% include('inc/nav.html.twig') %}
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    <div>&copy; {{ "now"|date("Y") }} Sortie.com</div>
</footer>
</body>
</html>