<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com Have fun !{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="container">
            <a href="{{ path('main_home') }}" class="navbar-brand"><img src="{{ asset('img/logo-provisoire.jpg') }}" alt="Logo"></a>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">Accueil</a></li>
                <li class="nav-item"><a href="#" class="nav-link">À propos</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    <div>&copy; {{ "now"|date("Y") }} Sortie.com</div>
</footer>
</body>
</html>