<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('sortie_list') }}" title="Sorties">Sorties</a></li>
        <li><a href="{{ path('main_test') }}" title="test">Test d'Hélène</a></li>
    </ul>
</nav>